<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List Details</title>
</head>
<body>
    <header></header>
    <main>
        <h1>{{single_todo.name}}</h1>
        <p><a href="{% url "todo_list_update" single_todo.id %}">Edit</a></p>
        <p><a href="{% url "todo_list_delete" single_todo.id %}">Delete</a></p>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Tasks</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for item in single_todo.items.all %}
                <tr>
                    <td><a href="{% url "todo_item_update" item.id %}">{{item.task}}</a></td>
                    <td>{{item.due_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

</body>
</html>
